@mixin flexbox($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin mediaQuery($size) {
    @media (min-width: map-get($mediaBreakpoints, $size)) {
        @content;
    }
}